body {
    margin: 0;
    padding: 0;
    background-color: #E5E4E2;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    overflow: hidden;
}

.background-image {
    background-image: url('https://wallpapercave.com/wp/wp2634864.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.title {
    position: absolute;
    top: 50%; /* Adjust the vertical position of the title */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFD700; /* Title text color */
    font-size: 56px; /* Title font size */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay color */
    padding: 20px; /* Adjust padding as needed */
}

.description{
    text-align: left;
    color: black;
    font-size: 16px;
    padding: 10px;
}
